CaptchaDemo/.vs/CaptchaDemo/v15/Server/sqlite3/storage.ide-wal
CaptchaDemo/.vs/CaptchaDemo/v15/Server/sqlite3/storage.ide-shm
CaptchaDemo/.vs/CaptchaDemo/v15/Server/sqlite3/storage.ide
CaptchaDemo/.vs/CaptchaDemo/v15/Server/sqlite3/db.lock
CaptchaDemo/.vs/CaptchaDemo/v15/.suo
CaptchaDemo/CaptchaDemo/CaptchaDemo.csproj.user
CaptchaDemo/CaptchaDemo/storage/
CaptchaDemo/CaptchaDemo/bin/
CaptchaDemo/CaptchaDemo/obj/
CaptchaDemo/CaptchaDemo.Configuration/bin/
CaptchaDemo/CaptchaDemo.Configuration/obj/
CaptchaDemo/CaptchaDemo.Core/bin/
CaptchaDemo/CaptchaDemo.Core/obj/
CaptchaDemo/CaptchaDemo.Data/bin/
CaptchaDemo/CaptchaDemo.Data/obj/
CaptchaDemo/CaptchaDemo.IoC/bin/
CaptchaDemo/CaptchaDemo.IoC/obj/
CaptchaDemo/CaptchaDemo.Tests/obj/
CaptchaDemo/CaptchaDemo.Tests/bin/
CaptchaDemo/packages/NuGet.CommandLine.4.5.1/tools/NuGet.exe
CaptchaDemo/packages/NuGet.CommandLine.4.5.1/NuGet.CommandLine.4.5.1.nupkg
CaptchaDemo/CaptchaDemo.Core/nuget.exe
CaptchaDemo/CaptchaDemo.Core/CaptchaFeatured.1.0.0.nupkg
CaptchaDemo/CaptchaDemo.Core/CaptchaDemo.Core.nuspec
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/LICENSE.md
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
CaptchaDemo/packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
