body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.captcha-image {
	width: 280px;
}

.captcha-text-field {
	margin-top: 20px;
}

.captcha-image.type-math {
	width: 500px;
}

.game-field {
	width: 300px;
}

.game-field-2 {
	height: 200px;
}

.game-field-3 {
	height: 300px;
}

.game-field-4 {
	height: 400px;
}

.game-field-5 {
	height: 500px;
}

.field-row {
	height: 100px;
	width: 100%;
	margin-top: 10px;
}

.field-column {
	height: 100%;
	width: 30%;
	display: -webkit-inline-box;
}

.field-column__start {
	float: left;
}

.field-column__end {
	float: right;
}